.order-details {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #F9F9F9;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .order-item {
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0;
  }
  
  .order-item p {
    margin: 0;
  }
  
  pre {
    white-space: pre-wrap;
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 4px;
  }
  